body {
  background-color: #c2b280;
}
label {
  padding-bottom: 20px;
  display: block;
  padding-top: 40px;
}
textarea {
  width: 222px;
    height: 72px;
    background-color: #fffdf7;
}
h1 {
  color: #3a76e2;
  text-align: center;
  border-style: inset;
  border-color: #B5CDF9;
  border-radius: 5px;
  width: 50%;
  margin-left: 200px;
  background-color: #d6caa5;

}
li {
  list-style-type: none;
  font-family: cursive;
}
label {
  font-family: cursive;
}
